body { 
    font-family: arial;
}
.title {
    font-size: 50px;
    font-weight: normal;
}
#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: transparent;
    padding: 20px;
    margin: 5px;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 5px;
    font-size: 20px;
    color: rgb(122, 122, 122);
}
button:hover {
    background-color: rgb(122, 122, 122);
    color:white;
    transition: 0.3s;
    cursor: pointer;
}
#area {
    margin-top: 40px;
    border: 3px solid black;
    width: 600px;
    font-size: 30px;
    padding: 20px 20px 400px 20px;
}