/* .main {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
button {
    width: 200px;
    padding: 20px;
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 5px;
    color: black;
}
.color {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25px;
    background-color: transparent;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
} */