#main {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 400px;
    border: 2px solid lime;
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    background-color: rgb(192, 192, 192);
}
h1 {
    border-bottom:5px solid lime; 
}
.inp {
    width: 300px;
    height: 30px;
    border: 2px solid lime;
}
button {
    width: 100px;
    padding: 5px;
    background-color: rgb(0, 255, 64);
    margin-top: 10px;
    border: 0.5px solid lime;
}