#main {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
body {
    font: arial;
    margin: 0px;
    background-color: rgb(255, 227, 175);
}
.card {
    width: 200px;
    height: 250px;
    background-color: white;
    margin: 30px;
    box-shadow: 0px 0px 30px white;
    padding: 20px;
    border-radius: 7px;
    text-align: left;
}
p { 
    color: rgb(170, 170, 170);
}
.ime { 
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 25px;
}